/****
OK, current iteration of the website adds cool js that will roll out and expand the logo when clicked.

Gallery will include photos of the kids yoga class, possibly more yoga poses of Sarah.


Questions for Rochelle:
-How can I tell that I need to override css?
-Why isn't picture scaling at all?

 */
/****
Custom Style Sheet
****/

/****
Global Styles
****/

body{
	font-family: "Comic Sans MS";
}


/****
Header
****/

.navbar{
	background-color: rgba(161, 190, 217, 0.75);
}

.navbar-brand{
	display: block !important;
}
.navbar-brand img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

@media only screen and (max-width: 650px){
	.navbar{
		flex-direction: column;
	}
	.navbar-brand{
		padding-left: 15px;
	}

	.intro-text{
		font-size: 2em;
	}

	.main-image{
		background-position:20% !important;
	}
}

/****
Landing
****/

.main-image{
	background: url("../images/yogaBlueTopBanner.jpg");
	background-size: cover;
	height: 100vh;
	display: flex !important;
	justify-content: center;
}

.intro-text{
	font-size: 3em;
}

.headshot{
	max-width: 90%;
	border-radius: 75%;
	padding: 3px;
	border: 4px solid rgb(100, 145, 227);

}



/****
Footer
****/

footer{
	background-color: rgb(100, 145, 227);
	color: rgb(94, 102, 112);
}
.linkedin{
	height: 2em;
	width: auto;
}