body {
	margin: 10px;
	font-family: "Times New Roman";
	font-size: 1.5em;
	background: linear-gradient(to bottom, rgba(0, 80, 255, 0.01), rgba(173, 216, 230, 0.54));
}

h1, h2 {
	text-align: center;
}
.purpose, .persona {
	border: lightgreen 3px solid;
	border-radius: 10%;
	padding: 5px;
	margin-bottom: 10px;
}

img {
	max-width: 80%;
	margin: 10px;
	padding-right: 20px;
}